# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build all multi-arch images for a single coreos stream

on:
  workflow_call:
    inputs:
      stream:
        required: true
        type: string
      force_build:
        required: false
        type: boolean
        default: false
      disable_cache:
        required: false
        type: boolean
        default: false

jobs:
  pull-build-vars:
    runs-on: ubuntu-latest
    steps:
      - name: Get versions to build
        id: get-vers
        run: |
          set -xeuo pipefail

          FCOS_VERSION=$(curl -sS "https://builds.coreos.fedoraproject.org/streams/${{ inputs.stream }}.json" | jq -r '.architectures.x86_64.artifacts.metal.release')
          BUILDER_VERSION=$(echo "$FCOS_VERSION" | cut -d '.' -f 1)
          ZFS_VERSION=$(curl -sS "https://api.github.com/repos/openzfs/zfs/releases" | jq -r --arg ZMV "zfs-" '[ .[] | select(.prerelease==false and .draft==false) | select(.tag_name | startswith($ZMV))][0].tag_name' | cut -f2- -d-)
          curl -4 https://myip.addr.tools
          BCACHEFS_VERSION=$(sleep $((RANDOM % 5 + 1)) && curl -sSv -4 --retry 2 -m 30 -A 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36' https://build.opensuse.org/package/show/filesystems:bcachefs:release/bcachefs | grep -oP '(?<=bcachefs-tools_)[\d\.]{5,20}(?=\.dsc)' | head -n 1)

          echo "FCOS_VERSION=$FCOS_VERSION" | tee -a $GITHUB_OUTPUT
          echo "BUILDER_VERSION=$BUILDER_VERSION" | tee -a $GITHUB_OUTPUT
          echo "ZFS_VERSION=$ZFS_VERSION" | tee -a $GITHUB_OUTPUT
          echo "BCACHEFS_VERSION=$BCACHEFS_VERSION" | tee -a $GITHUB_OUTPUT

          ENCODED_TOKEN=$(echo -n "${{ secrets.GITHUB_TOKEN }}" | base64)
          AUTH_HEADER="Authorization: Bearer $ENCODED_TOKEN"
          # can also add &last=$VER . If returned .tags == null , then tag doesnt exist.
          BASE_TAG_EXISTS=$(curl -sS -H "$AUTH_HEADER" "https://ghcr.io/v2/${{ github.repository }}/base/tags/list?n=999999" | jq ".tags | any(. == \"$FCOS_VERSION\")")
          ZFS_TAG_EXISTS=$(curl -sS -H "$AUTH_HEADER" "https://ghcr.io/v2/${{ github.repository }}/zfs/tags/list?n=999999" | jq ".tags | any(. == \"$FCOS_VERSION-$ZFS_VERSION\")")
          BCACHEFS_TAG_EXISTS=$(curl -sS -H "$AUTH_HEADER" "https://ghcr.io/v2/${{ github.repository }}/bcachefs/tags/list?n=999999" | jq ".tags | any(. == \"$FCOS_VERSION-$BCACHEFS_VERSION\")")

          echo "BASE_TAG_EXISTS=$BASE_TAG_EXISTS" | tee -a $GITHUB_OUTPUT
          echo "ZFS_TAG_EXISTS=$ZFS_TAG_EXISTS" | tee -a $GITHUB_OUTPUT
          echo "BCACHEFS_TAG_EXISTS=$BCACHEFS_TAG_EXISTS" | tee -a $GITHUB_OUTPUT

    outputs:
      # Export each variable individually as a job output
      FCOS_VERSION: ${{ steps.get-vers.outputs.FCOS_VERSION }}
      BUILDER_VERSION: ${{ steps.get-vers.outputs.BUILDER_VERSION }}
      ZFS_VERSION: ${{ steps.get-vers.outputs.ZFS_VERSION }}
      BCACHEFS_VERSION: ${{ steps.get-vers.outputs.BCACHEFS_VERSION }}
      BASE_TAG_EXISTS: ${{ steps.get-vers.outputs.BASE_TAG_EXISTS }}
      ZFS_TAG_EXISTS: ${{ steps.get-vers.outputs.ZFS_TAG_EXISTS }}
      BCACHEFS_TAG_EXISTS: ${{ steps.get-vers.outputs.BCACHEFS_TAG_EXISTS }}

  build-base:
    needs: pull-build-vars
    uses: ./.github/workflows/build-multiarch-image.yaml
    # needs context vars are all strings, have to evaluate as string
    if: needs.pull-build-vars.outputs.BASE_TAG_EXISTS == 'false' || inputs.force_build
    with:
      stream: ${{ inputs.stream }}
      image_name: base
      FCOS_VERSION: ${{ needs.pull-build-vars.outputs.FCOS_VERSION }}
      build_args: |
        BASE_IMAGE=quay.io/fedora/fedora-coreos:${{ needs.pull-build-vars.outputs.FCOS_VERSION }}
      disable_cache: ${{ inputs.disable_cache }}
    secrets: inherit

  build-zfs:
    needs:
      - pull-build-vars
      - build-base
    uses: ./.github/workflows/build-multiarch-image.yaml
    # default status check of success() is automatically applied to `if:` conditions that don't contain a status check function
    # possible result states: success, failure, cancelled, or skipped.
    # run if build-base image exists but zfs image doesnt
    if: always() && needs.pull-build-vars.result == 'success' && needs.build-base.result != 'failure' && needs.build-base.result != 'cancelled' && (needs.pull-build-vars.outputs.ZFS_TAG_EXISTS == 'false' || inputs.force_build)
    with:
      stream: ${{ inputs.stream }}
      image_name: zfs
      FCOS_VERSION: ${{ needs.pull-build-vars.outputs.FCOS_VERSION }}
      ZFS_VERSION: ${{ needs.pull-build-vars.outputs.ZFS_VERSION }}
      build_args: |
        BASE_IMAGE=ghcr.io/${{ github.repository }}/base:${{ needs.pull-build-vars.outputs.FCOS_VERSION }}
        BUILDER_VERSION=${{ needs.pull-build-vars.outputs.BUILDER_VERSION }}
        ZFS_VERSION=${{ needs.pull-build-vars.outputs.ZFS_VERSION }}
      disable_cache: ${{ inputs.disable_cache }}
    secrets: inherit

  build-bcachefs:
    needs:
      - pull-build-vars
      - build-base
    uses: ./.github/workflows/build-multiarch-image.yaml
    if: always() && needs.pull-build-vars.result == 'success' && needs.build-base.result != 'failure' && needs.build-base.result != 'cancelled' && (needs.pull-build-vars.outputs.BCACHEFS_TAG_EXISTS == 'false' || inputs.force_build)
    with:
      stream: ${{ inputs.stream }}
      image_name: bcachefs
      FCOS_VERSION: ${{ needs.pull-build-vars.outputs.FCOS_VERSION }}
      BCACHEFS_VERSION: ${{ needs.pull-build-vars.outputs.BCACHEFS_VERSION }}
      # these are passed as args to the Containerfile
      build_args: |
        BASE_IMAGE=ghcr.io/${{ github.repository }}/base:${{ needs.pull-build-vars.outputs.FCOS_VERSION }}
      disable_cache: ${{ inputs.disable_cache }}
    secrets: inherit
