# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build an image for both arm64 and x86_64

on:
  workflow_call:
    inputs:
      stream: # used in tags
        required: true
        type: string
      image_name:
        required: true
        type: string
      build_args:
        required: false
        type: string
        default: ""
      FCOS_VERSION: # used in tags
        required: true
        type: string
      ZFS_VERSION: # used in tags
        required: false
        type: string
        default: "zfs-version-should-have-been-set-here"
      BCACHEFS_VERSION: # used in tags
        required: false
        type: string
        default: "bcachefs-version-should-have-been-set-here"
      disable_cache:
        required: false
        type: boolean
        default: false

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/accessing-contextual-information-about-workflow-runs
env:
  registry: ghcr.io
  # github.repository as <account>/<repo>

permissions:
  # contents: read is used in actions/checkout
  contents: read
  # permits an action to upload and publish packages on GitHub Packages
  packages: write
  # permits an action to generate an artifact attestation for a build.
  attestations: write
  # Fetch an OpenID Connect (OIDC) token.
  # This is used to complete the identity challenge with sigstore/fulcio when running outside of PRs.
  #id-token: write

#TODO:
# redhat-actions/podman-login
# redhat-actions/buildah-build # doesnt support annotations
# redhat-actions/push-to-registry
# cosign sign -y -r --key
#
# quay.io tag is later than curl streams json

jobs:
  setup-env:
    runs-on: ubuntu-latest
    steps:
      # Gets the version of Fedora distribution used in the Fedora CoreOS base image
      - name: Set Env variables
        id: setup-vars
        run: |
          IMAGE_FULL_NAME="${{ env.registry }}/${{ github.repository }}/${{ inputs.image_name }}"
          TAG_SUFFIX=""
          if [ "${{ inputs.image_name }}" = "zfs" ]; then
            TAG_SUFFIX="-${{ inputs.ZFS_VERSION }}"
          elif [ "${{ inputs.image_name }}" = "bcachefs" ]; then
            TAG_SUFFIX="-${{ inputs.BCACHEFS_VERSION }}"
          fi

          echo "IMAGE_FULL_NAME=$IMAGE_FULL_NAME" | tee -a $GITHUB_OUTPUT
          echo "TAG_SUFFIX=$TAG_SUFFIX" | tee -a $GITHUB_OUTPUT

    outputs:
      IMAGE_FULL_NAME: ${{ steps.setup-vars.outputs.IMAGE_FULL_NAME }}
      TAG_SUFFIX: ${{ steps.setup-vars.outputs.TAG_SUFFIX }}

  build-each:
    needs: setup-env
    strategy:
      fail-fast: true
      matrix:
        platform:
          - docker_arch: linux/amd64
            runner: ubuntu-latest
          - docker_arch: linux/arm64
            runner: ubuntu-24.04-arm

    name: Build ${{ inputs.image_name }} on ${{ matrix.platform.docker_arch }}
    runs-on: ${{ matrix.platform.runner }}

    env:
      IMAGE_FULL_NAME: ${{needs.setup-env.outputs.IMAGE_FULL_NAME}}
      TAG_SUFFIX: ${{needs.setup-env.outputs.TAG_SUFFIX}}

    steps:
      - name: Set env.PLATFORM_PAIR for this job
        run: |
          PLATFORM=${{ matrix.platform.docker_arch }}
          # replaces / with -
          echo "PLATFORM_PAIR=${PLATFORM//\//-}" | tee -a $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v6

      # Set up BuildKit Docker container builder to be able to build-push and export cache
      # Needed for annotations
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.registry }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/docker/metadata-action
      - name: "Define image metadata: ${{ inputs.image_name }}"
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_FULL_NAME }}
          tags: |
            type=raw,value=${{ inputs.stream }}
            type=raw,value=latest,enable=${{ inputs.stream == 'stable' }}
            type=raw,value=${{ inputs.FCOS_VERSION }}${{ env.TAG_SUFFIX }}

      # https://github.com/docker/build-push-action
      - name: "Build Docker image: ${{ inputs.image_name }}"
        id: build
        uses: docker/build-push-action@v6
        with:
          file: ./${{ inputs.image_name }}/Containerfile
          context: ./${{ inputs.image_name }}
          build-args: ${{ inputs.build_args }}
          cache-from: ${{ case(inputs.disable_cache, '', 'type=gha') }}
          no-cache: ${{ inputs.disable_cache }}
          cache-to: type=gha,mode=max
          # always pull because old builds are cached under same tags
          pull: true
          platforms: ${{ matrix.platform.docker_arch }}
          tags: ${{ env.IMAGE_FULL_NAME }}
          annotations: ${{ steps.meta.outputs.annotations }}
          # provenance will add an extra "unknown/unknown" manifest
          provenance: false
          # https://docs.docker.com/build/exporters/image-registry/
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true,compression=zstd,oci-mediatypes=true
      # https://github.com/redhat-actions/buildah-build
      # https://github.com/redhat-actions/push-to-registry

      # https://docs.docker.com/build/ci/github-actions/multi-platform/#distribute-build-across-multiple-runners
      - name: Export digests
        run: |
          mkdir -p ${{ runner.temp }}/digests/${{ inputs.image_name }}/${{ inputs.stream }}
          digest="${{ steps.build.outputs.digest }}"
          # removes sha256: prefix
          digest="${digest#sha256:}"
          touch "${{ runner.temp }}/digests/${{ inputs.image_name }}/${{ inputs.stream }}/${digest}"

      - name: Upload digests to artifact store to use in next job
        uses: actions/upload-artifact@v6
        with:
          name: digests-${{ inputs.image_name }}-${{ inputs.stream }}-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/${{ inputs.image_name }}/${{ inputs.stream }}/*
          if-no-files-found: error
          retention-days: 1

  merge-manifests:
    runs-on: ubuntu-latest
    needs:
      - setup-env
      - build-each
    env:
      IMAGE_FULL_NAME: ${{needs.setup-env.outputs.IMAGE_FULL_NAME}}
      TAG_SUFFIX: ${{needs.setup-env.outputs.TAG_SUFFIX}}
    steps:
      - name: Download digests
        uses: actions/download-artifact@v7
        with:
          path: ${{ runner.temp }}/digests/${{ inputs.image_name }}/${{ inputs.stream }}/
          pattern: digests-${{ inputs.image_name }}-${{ inputs.stream }}-*
          merge-multiple: true

      - name: Show downloaded artifacts
        run: ls -Rlh '${{ runner.temp }}/digests'

      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.registry }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # https://github.com/docker/metadata-action
      - name: "Define image metadata"
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_FULL_NAME }}
          # creates 3 tags.
          # `stable` and `latest` when it's run on main branch
          # tagged with FCOS version
          tags: |
            type=raw,value=${{ inputs.stream }}
            type=raw,value=latest,enable=${{ inputs.stream == 'stable' }}
            type=raw,value=${{ inputs.FCOS_VERSION }}${{ env.TAG_SUFFIX }}
          # default labels: https://github.com/opencontainers/image-spec/blob/main/annotations.md
          # labels are deprecated, use annotations

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests/${{ inputs.image_name }}/${{ inputs.stream }}/
        run: |
          set -xeuo pipefail
          echo *
          # jq takes the JSON output from the prev command, extracts the tags, and preps the tags as -t flags
          # printf command formats each filename as a reference to an image digest
          #   *: Expands to all files in the current directory (runner.temp/digests)
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf "$IMAGE_FULL_NAME@sha256:%s " *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect "$IMAGE_FULL_NAME:${{ steps.meta.outputs.version }}"

      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        uses: sigstore/cosign-installer@v4.0.0

      #  Get the digest of the manifest we just created
      - name: Get manifest digest
        id: final-digest
        run: |
          set -xeuo pipefail
          DIGEST=$(docker buildx imagetools inspect --format '{{json .Manifest}}' "$IMAGE_FULL_NAME:${{ steps.meta.outputs.version }}" | jq -r .digest)
          echo "digest=${DIGEST}" >> $GITHUB_OUTPUT

      - name: Sign the multi-arch manifest
        run: |
          # --recursive to sign all images inside manifest
          # As of Feb 2026, OCI 1.1 referrers API currently unsupported by GHCR, and requires COSIGN_EXPERIMENTAL=1
          # That API would allow to not use tagged manifests to store signature blobs, would clean up the tag list
          # https://opencontainers.org/posts/blog/2024-03-13-image-and-distribution-1-1/#support-for-existing-registries
          # check with `oras discover --distribution-spec v1.1-referrers-api`
          cosign sign --verbose --key 'env://COSIGN_KEY' --yes "$IMAGE_FULL_NAME@$DIGEST"
        env:
          COSIGN_KEY: ${{ secrets.SIGNING_SECRET }}
          # https://docs.github.com/en/actions/reference/security/secure-use#use-an-intermediate-environment-variable
          DIGEST: ${{ steps.final-digest.outputs.digest }}
