name: Build all multi-arch images for all coreos streams

on:
  schedule:
    # https://crontab.guru/#44_3_*_*_*
    - cron: "44 3 * * *"
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      force-build:
        description: 'Build all images even if they already exist'
        required: false
        type: boolean
        default: false

jobs:
  build-stream:
    strategy:
      fail-fast: false
      matrix:
        stream:
          - stable
          - testing
          - next

    name: Build ${{ matrix.stream }}
    uses: ./.github/workflows/build-stream.yaml
    with:
      stream: ${{ matrix.stream }}
      force-build: ${{ inputs.force-build }}
    secrets: inherit
