# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build all multi-arch images for all coreos streams

on:
  schedule:
    # https://crontab.guru/#44_3_*_*_*
    - cron: "41 */2 * * *"
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      force_build:
        description: "Build all images even if they already exist"
        required: false
        type: boolean
        default: false
      disable_cache:
        description: "Disable image build cache"
        required: false
        type: boolean
        default: false

concurrency:
  group: ${{ github.workflow }}

jobs:
  build-stream:
    strategy:
      fail-fast: false
      matrix:
        stream:
          - stable
          - testing
          - next

    name: Build ${{ matrix.stream }}
    uses: ./.github/workflows/build-stream.yaml
    with:
      stream: ${{ matrix.stream }}
      # use case, otherwise it is an empty string and it expects bool
      force_build: ${{ case(github.event_name == 'workflow_dispatch', inputs.force_build, false) }}
      disable_cache: ${{ case(github.event_name == 'workflow_dispatch', inputs.disable_cache, false) }}
    secrets: inherit
