# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: test schedule

on:
  schedule:
    - cron: "19 */2 * * *"
#  push:
#    branches: ["main"]
  workflow_dispatch:
#    inputs:
#      force-build:
#        description: "Build all images even if they already exist"
#        required: false
#        type: boolean
#        default: false
#      disable-cache:
#        description: "Disable image build cache"
#        required: false
#        type: boolean
#        default: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: |
          echo 'hello there'
