# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: test schedule

on:
  schedule:
    # https://crontab.guru/#44_3_*_*_*
    - cron: "19 */2 * * *"
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      force-build:
        description: "Build all images even if they already exist"
        required: false
        type: boolean
        default: false
      disable-cache:
        description: "Disable image build cache"
        required: false
        type: boolean
        default: false

jobs:
  build-stream:
    strategy:
      fail-fast: false
      matrix:
        stream:
          - stable
          - testing
          - next

    #name: Build ${{ matrix.stream }}
    #uses: ./.github/workflows/build-stream.yaml
    #secrets: inherit

    runs-on: ubuntu-latest
    steps:
      - name: echo
        with:
          stream: ${{ matrix.stream }}
          force-build: ${{ case(github.event_name == 'workflow_dispatch', inputs.force-build || false, false) }}
          disable-cache: ${{ case(github.event_name == 'workflow_dispatch', inputs.disable-cache || false, false) }}
        run: |
          echo 'matrix.stream: ${{ matrix.stream }}'
          env|sort
          #echo 'stream: ${{ env.STREAM }}'
          #echo 'force-build: ${{ env.FORCE-BUILD }}'
          #echo 'disable-cache: ${{ env.DISABLE-CACHE }}'
